html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: red;
}

#app {
  background-color: $primary-color;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style-type: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.snackbar-container {
  z-index: 1;
  margin: 0;
  text-align: center;

  .action {
    color: $light-brand-color;
    outline: none;
  }
}

.snackbar-pos.top-center,
.snackbar-pos.top-right,
.snackbar-pos.top-left {
  top: 5rem;
}

.achievement-popup {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: none;
  font-size: 1rem !important;

  > p {
    position: relative;
    padding: 2rem 5rem !important;
    line-height: 1.5 !important;
    background: #f5dca4;
    border: 2px solid #a67b1e;
    border-radius: 12px;
  }

  > .action {
    z-index: 1;
    padding: 0.5rem 3rem;
    margin: 0;
    margin-top: -1.5rem;
    background: #2ecc40;
    border: 2px solid #a67b1e;
    border-radius: 1.5rem;
  }
}

.achievement-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  font-size: 1rem;

  p {
    padding: 0.5rem 3rem;
    margin-top: -1.5rem;
    color: #f5dca4;
    background: #b14c03;
    border: 2px solid #a67b1e;
    border-radius: 1.5rem;
  }
}

/*** ANIMATIONS ***/

.ripple {
  position: relative;
}

.ripple::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover::after {
  background: rgba(#fff, 0.2)
    radial-gradient(circle, transparent 1%, rgba(white, 0.1) 1%) center/15000%;
}

.ripple:active::after {
  background-size: 100%;
  transition: background 0s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*** TRANSITIONS ***/

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-slow-enter-active,
.fade-slow-leave-active {
  transition: opacity;
  transition-delay: 1s;
  transition-duration: 2s;
}

.fade-slow-enter,
.fade-slow-leave-to {
  opacity: 0;
}
