#app {
  background-color: $background-color;
}

.snackbar-container .action {
  outline: none;
}

/*** TRANSITIONS ***/

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*** ANIMATIONS ***/

@keyframes scanning {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100vh) translateY(-66px);
  }
}
