$white: #fff;
$black: #000;
$grey-100: #f5f5f5;
$grey-200: #dfdfdf;
$grey-400: #a2a2a2;
$grey-800: #636363;

$text-color: #eff0eb;

$light-brand-color: #c99f67;
$dark-brand-color: #966840;

$primary-color: #242424;
$seconday-color: #575759;

$danger: #660d00;
$warning: #cc860d;
$success: #486600;
$disabled: #808080;

$shadow-color: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
