name: Approve on Label
on:
  pull_request:
    types: [labeled]

jobs:
  approve-on-label:
    name: Approve on Label
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/auto-approve-action@v2.1.0
        if: github.event.action == 'labeled' && github.event.label.name == 'Approve'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-ecosystem/action-remove-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: Approve
