name: Bundle Analyzer
on:
  pull_request:
    branches:
      - master
    paths:
      - client/src/**

jobs:
  build:
    name: Size Change
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: '0'
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - uses: preactjs/compressed-size-action@v2
      with:
        cwd: client
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        pattern: "dist/{.,css,js}/*.{js,css}"
        strip-hash: "\\b\\w{8}\\."

